<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
	<backgroundcolor>0</backgroundcolor>
	<allowoverlay>true</allowoverlay>
	<defaultcontrol always="true">60</defaultcontrol>

	<controls>
		<include>Global_Background</include>

    <control type="group" id="5000">
      <centertop>50%</centertop>
      <left>SettingsCategoryLeft</left>
      <width>SettingsCategoryWidth</width>
      <height>SettingsCategoryHeight</height>

      <!-- <include>Animation_ZoomInMenu</include> -->
      <include>Animation_ZoomedByMenu</include>
      <include>Animation_ZoomInZoomOut</include>

      <control type="image">
        <width>SettingsCategoryWidth</width>
        <height>SettingsCategoryHeight</height>
        <visible>!Control.IsVisible(8800)</visible>
        <texture>settings/settings-category-bg.png</texture>
      </control>
      <control type="image">
        <width>SettingsCategoryWidth</width>
        <height>SettingsCategoryHeight</height>
        <visible>Control.IsVisible(8800)</visible>
        <texture>settings/settings-category-scrollbar-bg.png</texture>
      </control>

      <control type="group">
        <left>160</left>

  			<control type="panel" id="60">
          <left>192</left>
          <top>50</top>
  				<width>1536</width>
  				<height>512</height>
  				<onleft>60</onleft>
  				<onright>60</onright>
  				<onup>60</onup>
  				<ondown>60</ondown>
  				<scrolltime tween="sine" easing="out">400</scrolltime>
  				<viewtype label="536">icon</viewtype>
  				<!-- <include>Animation_SettingsFloat</include> -->

          <animation effect="slide" end="440,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(0)">Conditional</animation>
          <animation effect="slide" end="264,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(1)">Conditional</animation>
          <animation effect="slide" end="88,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(2)">Conditional</animation>
          <animation effect="slide" end="-88,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(3)">Conditional</animation>
          <animation effect="slide" end="-264,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(4)">Conditional</animation>
          <animation effect="slide" end="-440,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(5)">Conditional</animation>

  				<itemlayout height="256" width="256">
            <control type="image">
              <width>256</width>
              <height>256</height>
              <texture colordiffuse="Heavy">settings/settings-bg.png</texture>
              <animation type="Conditional" condition="true">
                <effect type="zoom" start="85" end="85" center="auto" time="200" tween="cubic" easing="in" />
                <effect type="fade" start="60" end="60" time="200" />
              </animation>
            </control>
  					<control type="image">
  						<width>256</width>
  						<height>256</height>
  						<texture colordiffuse="Light">$INFO[ListItem.Icon]</texture>
  						<animation type="Conditional" condition="true">
  							<effect type="zoom" start="85" end="85" center="auto" time="200" tween="cubic" easing="in" />
  							<effect type="fade" start="60" end="60" time="200" />
  						</animation>
  					</control>
  				</itemlayout>

  				<focusedlayout height="256" width="256">
            <control type="image">
              <width>256</width>
              <height>256</height>
              <texture colordiffuse="Heavy">settings/settings-bg.png</texture>
              <animation type="Focus" reversible="false">
                <effect type="zoom" start="85" end="100" center="auto" time="200" tween="cubic" easing="in" />
                <effect type="fade" start="60" end="100" time="200" />
              </animation>
            </control>
  					<control type="image">
  						<width>256</width>
  						<height>256</height>
  						<texture colordiffuse="Light">$INFO[ListItem.Icon]</texture>
  						<animation type="Focus" reversible="false">
  							<effect type="zoom" start="85" end="100" center="auto" time="200" tween="cubic" easing="in" />
  							<effect type="fade" start="60" end="100" time="200" />
  						</animation>
  					</control>
  				</focusedlayout>

  				<content>
  					<item id="1">
              <label>$LOCALIZE[157]</label>
              <label2>$LOCALIZE[31128]</label2>
  						<!-- <icon>settings/Settings_Video.png</icon> -->
              <icon>settings/settings-video-fg.png</icon>
  						<onclick>ActivateWindow(VideosSettings)</onclick>
  					</item>
  					<item id="2">
              <label>$LOCALIZE[10005]</label>
              <label2>$LOCALIZE[31131]</label2>
  						<!-- <icon>settings/Settings_Music.png</icon> -->
              <icon>settings/settings-music-fg.png</icon>
  						<onclick>ActivateWindow(MusicSettings)</onclick>
  					</item>
            <item id="3">
              <label>$LOCALIZE[31161]</label>
              <label2>$LOCALIZE[31138]</label2>
              <!-- <icon>settings/Settings_PVR.png</icon> -->
              <icon>settings/settings-pvr-fg.png</icon>
              <onclick>ActivateWindow(PVRSettings)</onclick>
            </item>
  					<item id="4">
              <label>$LOCALIZE[1213]</label>
              <label2>$LOCALIZE[31134]</label2>
              <!-- <icon>settings/Settings_Pictures.png</icon> -->
  						<icon>settings/settings-pictures-fg.png</icon>
  						<onclick>ActivateWindow(PicturesSettings)</onclick>
  					</item>
            <item id="5">
              <label>$LOCALIZE[8]</label>
              <label2>$LOCALIZE[31132]</label2>
              <!-- <icon>settings/Settings_Weather.png</icon> -->
              <icon>settings/settings-weather-fg.png</icon>
              <onclick>ActivateWindow(WeatherSettings)</onclick>
            </item>
            <item id="6">
              <label>$LOCALIZE[14036]</label>
              <label2>$LOCALIZE[31135]</label2>
              <!-- <icon>settings/Settings_Network.png</icon> -->
              <icon>settings/settings-service-fg.png</icon>
              <onclick>ActivateWindow(ServiceSettings)</onclick>
            </item>
            <item id="7">
              <label>$LOCALIZE[480]</label>
              <label2>$LOCALIZE[31133]</label2>
              <icon>settings/Settings_Appearance.png</icon>
              <onclick>ActivateWindow(AppearanceSettings)</onclick>
            </item>
            <item id="8">
              <label>$LOCALIZE[24001]</label>
              <label2>$LOCALIZE[31129]</label2>
              <icon>settings/Settings_Addons.png</icon>
              <onclick>ActivateWindow(AddonBrowser)</onclick>
            </item>
            <item id="9">
              <label>$LOCALIZE[13000]</label>
              <label2>$LOCALIZE[31130]</label2>
              <!-- <icon>settings/Settings_System.png</icon> -->
              <icon>settings/settings-system-fg.png</icon>
              <onclick>ActivateWindow(SystemSettings)</onclick>
            </item>
            <item id="10">
              <label>$LOCALIZE[13200]</label>
              <label2>$LOCALIZE[31137]</label2>
              <!-- <icon>settings/Settings_Profiles.png</icon> -->
              <icon>settings/settings-profiles-fg.png</icon>
              <onclick>ActivateWindow(Profiles)</onclick>
            </item>
            <item id="11">
              <label>$LOCALIZE[7]</label>
              <label2>$LOCALIZE[31136]</label2>
              <icon>settings/Settings_File_Manager.png</icon>
              <onclick>ActivateWindow(filemanager)</onclick>
            </item>
            <item id="12">
              <label>$LOCALIZE[130]</label>
              <label2>$LOCALIZE[31139]</label2>
              <icon>settings/Settings_System_Info.png</icon>
              <onclick>ActivateWindow(systeminfo)</onclick>
            </item>
  				</content>
  			</control>

        <control type="label">
          <left>40</left>
          <top>614</top>
          <width>440</width>
          <align>right</align>
          <font>Font_Black_Caps_53</font>
          <label>$INFO[Container(60).ListItem.Label]</label>
        </control>
        <control type="textbox">
          <left>600</left>
          <top>608</top>
          <height>87</height>
          <width>1160</width>
          <font>Font_Light_36</font>
          <label>$INFO[Container(60).ListItem.Label2]</label>
        </control>
  		</control>
    </control>
	</controls>

</window>