<?xml version="1.0" encoding="UTF-8"?>
<window id="4">
	<defaultcontrol always="true">60</defaultcontrol>
  <coordinates>
    <origin x="0" y="0"/>
  </coordinates>

	<controls>
		<include>Global_Background</include>

    <control type="group" id="5000">
      <centertop>50%</centertop>
      <left>SettingsLeft</left>
      <width>SettingsWidth</width>
      <height>SettingsHeight</height>

      <include>Animation_ZoomedByMenu</include>
      <include>Animation_ZoomInZoomOut</include>

      <control type="image">
        <width>SettingsWidth</width>
        <height>SettingsHeight</height>
        <visible>!Control.IsVisible(8800)</visible>
        <texture>settings/settings-bg.png</texture>
      </control>
      <control type="image">
        <width>SettingsWidth</width>
        <height>SettingsHeight</height>
        <visible>Control.IsVisible(8800)</visible>
        <texture>settings/settings-bg-scrollbar.png</texture>
      </control>

      <control type="group">
        <left>160</left>

  			<control type="panel" id="60">
          <left>192</left>
          <top>50</top>
  				<width>1536</width>
  				<height>512</height>
  				<onleft>60</onleft>
  				<onright>60</onright>
  				<onup>60</onup>
  				<ondown>60</ondown>
  				<scrolltime tween="sine" easing="out">400</scrolltime>
  				<viewtype label="536">icon</viewtype>
          <animation effect="slide" end="440,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(0)">Conditional</animation>
          <animation effect="slide" end="264,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(1)">Conditional</animation>
          <animation effect="slide" end="88,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(2)">Conditional</animation>
          <animation effect="slide" end="-88,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(3)">Conditional</animation>
          <animation effect="slide" end="-264,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(4)">Conditional</animation>
          <animation effect="slide" end="-440,0" time="200" tween="cubic" easing="inout" condition="Container(60).Column(5)">Conditional</animation>
  				<itemlayout height="256" width="256">
            <control type="image">
              <width>256</width>
              <height>256</height>
              <texture colordiffuse="IconHeavy">settings/settings-button-bg.png</texture>
              <animation type="Conditional" condition="true">
                <effect type="zoom" start="85" end="85" center="auto" time="200" tween="cubic" easing="in" />
                <effect type="fade" start="60" end="60" time="200" />
              </animation>
            </control>
  					<control type="image">
  						<width>256</width>
  						<height>256</height>
  						<texture colordiffuse="IconLight">$INFO[ListItem.Icon]</texture>
  						<animation type="Conditional" condition="true">
  							<effect type="zoom" start="85" end="85" center="auto" time="200" tween="cubic" easing="in" />
  							<effect type="fade" start="60" end="60" time="200" />
  						</animation>
  					</control>
  				</itemlayout>
  				<focusedlayout height="256" width="256">
            <control type="image">
              <width>256</width>
              <height>256</height>
              <texture colordiffuse="IconHeavy">settings/settings-button-bg.png</texture>
              <animation type="Focus" reversible="false">
                <effect type="zoom" start="85" end="100" center="auto" time="200" tween="cubic" easing="in" />
                <effect type="fade" start="60" end="100" time="200" />
              </animation>
            </control>
  					<control type="image">
  						<width>256</width>
  						<height>256</height>
  						<texture colordiffuse="IconLight">$INFO[ListItem.Icon]</texture>
  						<animation type="Focus" reversible="false">
  							<effect type="zoom" start="85" end="100" center="auto" time="200" tween="cubic" easing="in" />
  							<effect type="fade" start="60" end="100" time="200" />
  						</animation>
  					</control>
  				</focusedlayout>
  				<content>
  					<item id="1">
              <label>$LOCALIZE[157]</label>
              <label2>$LOCALIZE[31128]</label2>
              <icon>settings/settings-button-video-fg.png</icon>
  						<onclick>ActivateWindow(videossettings)</onclick>
  					</item>
  					<item id="2">
              <label>$LOCALIZE[10005]</label>
              <label2>$LOCALIZE[31131]</label2>
              <icon>settings/settings-button-music-fg.png</icon>
  						<onclick>ActivateWindow(musicsettings)</onclick>
  					</item>
            <item id="3">
              <label>$LOCALIZE[31161]</label>
              <label2>$LOCALIZE[31138]</label2>
              <icon>settings/settings-button-pvr-fg.png</icon>
              <onclick>ActivateWindow(pvrsettings)</onclick>
            </item>
  					<item id="4">
              <label>$LOCALIZE[1213]</label>
              <label2>$LOCALIZE[31134]</label2>
  						<icon>settings/settings-button-pictures-fg.png</icon>
  						<onclick>ActivateWindow(picturessettings)</onclick>
  					</item>
            <item id="5">
              <label>$LOCALIZE[8]</label>
              <label2>$LOCALIZE[31132]</label2>
              <icon>settings/settings-button-weather-fg.png</icon>
              <onclick>ActivateWindow(weathersettings)</onclick>
            </item>
            <item id="6">
              <label>$LOCALIZE[14036]</label>
              <label2>$LOCALIZE[31135]</label2>
              <icon>settings/settings-button-service-fg.png</icon>
              <onclick>ActivateWindow(servicesettings)</onclick>
            </item>
            <item id="7">
              <label>$LOCALIZE[480]</label>
              <label2>$LOCALIZE[31133]</label2>
              <icon>settings/settings-button-appearance-fg.png</icon>
              <onclick>ActivateWindow(appearancesettings)</onclick>
            </item>
            <item id="8">
              <label>$LOCALIZE[20077]</label>
              <label2>$LOCALIZE[31136]</label2>
              <icon>settings/settings-button-skin-fg.png</icon>
              <onclick>ActivateWindow(skinsettings)</onclick>
            </item>
            <item id="9">
              <label>$LOCALIZE[24001]</label>
              <label2>$LOCALIZE[31129]</label2>
              <icon>settings/settings-button-addons-fg.png</icon>
              <onclick>ActivateWindow(addonbrowser)</onclick>
            </item>
            <item id="10">
              <label>$LOCALIZE[13000]</label>
              <label2>$LOCALIZE[31130]</label2>
              <icon>settings/settings-button-system-fg.png</icon>
              <onclick>ActivateWindow(systemsettings)</onclick>
            </item>
            <item id="11">
              <label>$LOCALIZE[13200]</label>
              <label2>$LOCALIZE[31137]</label2>
              <icon>settings/settings-button-profiles-fg.png</icon>
              <onclick>ActivateWindow(profiles)</onclick>
            </item>
            <item id="12">
              <label>$LOCALIZE[130]</label>
              <label2>$LOCALIZE[31139]</label2>
              <icon>settings/settings-button-system-info-fg.png</icon>
              <onclick>ActivateWindow(systeminfo)</onclick>
            </item>
  				</content>
  			</control>

        <control type="label">
          <left>40</left>
          <top>614</top>
          <width>440</width>
          <align>right</align>
          <font>Font_Black_Caps_53</font>
          <label>$INFO[Container(60).ListItem.Label]</label>
        </control>
        <control type="textbox">
          <left>600</left>
          <top>608</top>
          <height>87</height>
          <width>1160</width>
          <font>Font_Light_36</font>
          <label>$INFO[Container(60).ListItem.Label2]</label>
        </control>
  		</control>

      <control type="image">
        <top>14</top>
        <width>SettingsWidth</width>
        <height>572</height>
        <texture>settings/settings-overlay.png</texture>
      </control>
    </control>
	</controls>

</window>